<section>
    <form action="<%= redirectUrl %>" method="post">
        <fieldset>
            <legend>Forgot Password Form</legend>
            <div>
                <label for="password">New password:</label>
                <input type="password" name="newPassword" id="newPassword">
            </div>
            <div>
                <label for="confirmation">Confirm new password:</label>
                <input type="password" name="confirmation" id="confirmation">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </fieldset>
    </form>
</section>